.menu-top {
  .container{
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    text-align: center;
    .navbar {
      font-size: 14px;
      color: rgb(255, 255, 255);
      font-weight: 600;
      .navbar-nav {
        li {
          margin-left: 15px;
        }
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color:rgb(255, 255, 255) !important;
}
