.products {
  .services {
    margin:100px 0 90px 0;
    .title {
      font-size: 18px;
      font-weight: bold;
      color: #000000;
      margin: 20px 0 30px 0;
    }
    .description {
      font-size: 16px;
      line-height: 1.569;
      color: #858585;
    }
  }
}
