.slides {
  .carousel-inner {
    .carousel-item {
      img.bg-img {
        width: 100%;
      }
      .carousel-caption {
        .carousel-image {
          border: 4px solid #938a92;
        }
        .carousel-content {
          width: 100%;
          margin-top: 30px;
          font-size: 30px;
          line-height: 1.525;
          color: #837782;
        }
        .carousel-address {
          font-size: 18px;
          color: #837782;
          margin-top: 30px;
          font-style: italic;
        }
      }
    }
  }
}
