<section class="category font-lato">
  <div class="container category-header text-center">
    <h4 class="title line">BROWSE BY CUISINES</h4>
  </div>

  <div class="category-main">
    <div class="box">
      <img src="../../../images/layer-4.png" alt="">
      <div class="content">
        <h5>327 Recopes</h5>
        <h2>ITALIAN</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-5.png" alt="">
      <div class="content">
        <h5>856 Recipes</h5>
        <h2>INDIAN</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-6.png" alt="">
      <div class="content">
        <h5>27 Recopes</h5>
        <h2>FRENCH</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-7.png" alt="">
      <div class="content">
        <h5>174 Recopes</h5>
        <h2>STEAKHOUSE</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-8.png" alt="">
      <div class="content">
        <h5>731 Recopes</h5>
        <h2>SEAFOOD</h2>
      </div>
    </div>
  </div>

  <div class="category-main">
    <div class="box">
      <img src="../../../images/layer-9.png" alt="">
      <div class="content">
        <h5>237 Recopes</h5>
        <h2>SUSHI</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-10.png" alt="">
      <div class="content">
        <h5>529 Recopes</h5>
        <h2>MEXICAN</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-11.png" alt="">
      <div class="content">
        <h5>145 Recopes</h5>
        <h2>CHINESE</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-12.png" alt="">
      <div class="content">
        <h5>327 Recopes</h5>
        <h2>PIZZA</h2>
      </div>
    </div>
    <div class="box">
      <img src="../../../images/layer-13.png" alt="">
      <div class="content">
        <h5>1.437 Recopes</h5>
        <h2>AMERICAN</h2>
      </div>
    </div>
  </div>
  
  <div class="container category-footer text-center">
    <div class="evaluate-category">
      <div class="item">
          <h2 class="title">23,567</h2>
          <p class="description">Recipes Available</p>
        </div>
        <div class="item">
          <h2 class="title">431,729</h2>
          <p class="description">Available Users</p>
        </div>
        <div class="item">
          <h2 class="title">892,173</h2>
          <p class="description">Positive Reviews</p>
        </div>
        <div class="item">
          <h2 class="title">56,581</h2>
          <p class="description">Photos & Videos</p>
        </div>
        <div class="item">
          <h2 class="title">3,182</h2>
          <p class="description">Spices and Herbs</p>
        </div>
      </div>
    </div>
</section>
