<section class="information">
  <div class="container">
    <div class="row font-lato">
      <div class="col-xl-6 col-lg-6">
        <div class="infor-left">
          <div class="infor-image">
            <img src="../../../images/phone.png" alt="" class="image-phone">
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="infor-right">
          <h2 class="title line-left">INTRODUCING THE FUDI APP</h2>
          <div class="infor-content text-justify">
            <p class="text-content">
              Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet felis sit amet diam mollis
              ullamcorper. Nullam consequat sem a ante vest ibulum tristique. Suspendisse tristique lacus ac mattis porta.
            </p>
            <p class="text-content">
              Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In libero dui, eleifend eu nisi id,
              egestas fringilla odio. In varius quam a mas sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis
              convallis. Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.
            </p>
            <p class="text-content">
              Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam malesuada. Duis vehicula a nibh id
              hendrerit. Donec sit amet ultrices ante, a mattis massa.
            </p>
          </div>
          <div class="infor-footer">
            <a href=""><img src="../../../images/layer-1.png" alt="" class=""></a>
            <a href=""><img src="../../../images/layer-2.png" alt="" class="app-icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
