<section class="products">
  <div class="container font-lato">
    <div class="row">
      <div class="col-md-4 col-lg-4 services text-center">
        <img src="../../../images/icon-1.png" alt="foody" class="icon">
        <h3 class="title line">GET INSPIRED</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra
          elementuma. Aliquamerat
          volutpat. </p>
      </div>
      <div class="col-md-4 col-lg-4 services text-center">
        <img src="../../../images/icon-2.png" alt="money" class="icon">
        <h3 class="title line">GET INSPIRED</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra
          elementuma. Aliquamerat
          volutpat. </p>
      </div>
      <div class="col-md-4 col-lg-4 services text-center">
        <img src="../../../images/icon-3.png" alt="chef" class="icon">
        <h3 class="title line">GET INSPIRED</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra
          elementuma. Aliquamerat
          volutpat. </p>
      </div>
    </div>
  </div>
</section>
