/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1236px) {
  .information .infor-right {
    margin: 156px 0px 0px 44px;
  }
  .category .category-main .box .content h2 {
    font-size: 23px;
  }
  .category .category-main .box .content h5 {
    font-size: 15px;
  }
  .category .category-footer .evaluate-category .item h2 {
    font-size: 27px;
  }
  .category .category-footer .evaluate-category .item .description {
    font-size: 12px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .information .infor-right {
    margin: 83px 0px 59px 0px;
  }
  .category .category-main .box .content h2 {
    font-size: 18px;
  }
  .category .category-main .box .content h5 {
    font-size: 13px;
  }
  .category .category-footer .evaluate-category .item h2 {
    font-size: 28px;
  }
  .category .category-footer .evaluate-category .item .description {
    font-size: 12px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 480px) and (max-width: 767px) {
  .information .infor-right {
    margin: 83px 0px 59px 0px;
  }
  .slides .carousel-inner .carousel-item .carousel-caption .carousel-content {
    font-size: 25px;
  }
  .evaluate-category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .category .category-footer .evaluate-category .item h2 {
    font-size: 18px;
  }
  .category .category-footer .evaluate-category .item .description {
    font-size: 9px;
  }
  .footer-container {
    font-size: 11px;
  } 
}

/* // Extra Small devices (320px and up) */
@media (min-width: 320px) and (max-width: 479px) {
  .banner-container .banner-active .banner-content h3 {
    font-size: 64px;
  }
  .banner-container .banner-active .banner-content h4 {
    font-size: 27px;
  }
  .banner-container .banner-active .banner-content h5 {
    font-size: 10px;
  }
  .information .infor-right {
    margin: 83px 0px 59px 0px;
  }
  .slides .carousel-inner .carousel-item .carousel-caption .carousel-content {
    font-size: 14px;
  }
  .slides .carousel-inner .carousel-item .carousel-caption .carousel-address {
    font-size: 12px;
  }
  .footer-container {
    font-size: 7px;
  } 
}
